/*----------  Buttons  ----------*/
button,.trip-button {
    background: var(--p);
    border-radius: var(--r);
    color: #fff;
    border: 0;
    padding: 12px 16px;
    margin-top: 16px;
    font: 600 16px var(--f);
    cursor: pointer;
    transition: 0.2s;
    display: block;
    width: 100%
  }

  button:hover,.trip-button:hover {
    opacity: .9;
    transform: translateY(-1px)
  }

  button:active {
    transform: translateY(1px);
    opacity: .8
  }

/*----------  Back Link Container  ----------*/
.back-link-container {
  margin-top: 1.5em;
}

.back-link-container--lg {
  margin-top: 2em;
}