/*----------  Header  ----------*/
.sr-header {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .sr-header__title {
    color: var(--p);
    margin: 0;
    font: 600 24px var(--f)
  }
  
  .sr-header__logo {
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    text-align: center
  }
  
  .sr-header__logo img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto
  }