/*=============================================
=            Base Styles                      =
=============================================*/

* { box-sizing: border-box }

body {
  font: 16px var(--f);
  color: var(--p);
  -webkit-font-smoothing: antialiased;
  background: var(--w)
}

/* Typography */
h1,h2,h3,h4,h5,h6 {
  color: var(--p);
  margin: 2px 0 4px
}

h1 { font-size: 27px }
h3 { font-size: 20px; margin-bottom: 16px }
h4 { font-size: 14px; font-weight: 500; color: var(--g-l) }