/*=============================================
=            Design Tokens                    =
=============================================*/

:root {
    --p: #1c2c44;
    --s: #acf3c4;
    --g-o: rgba(28,44,68,.03);
    --g-b: rgba(28,44,68,.15);
    --g-l: rgba(28,44,68,.4);
    --g-m: rgba(28,44,68,.7);
    --g-d: rgba(28,44,68,.9);
    --w: #fcfefd;
    --f: -apple-system,BlinkMacSystemFont,sans-serif;
    --r: 6px;
    --fw: 343px
  }