---
import BaseLayout from '@/layouts/BaseLayout.astro';
---
<BaseLayout title="TCSC — Twin Cities Ski Club" variant="home">
  <h1 class="font-display text-6xl p-8">Twin Cities Ski Club</h1>
</BaseLayout>
