{% from 'trips/_form_ui.html' import question_hint, question_help, optional_hint, error_slot, pill, choice_mark %}
  <fieldset id="profile-can-drive-group" class="form-field" aria-describedby="profile-can-drive-group-error{% if question.help_text %} carpool-help{% endif %}">
    <legend class="form-field__label">{{ question.label }} {{ question_hint(question) }}</legend>
    {{ question_help(question, 'carpool-help') }}
    <div class="pill-group">
      {{ pill('profile-can-drive', 'yes', 'Yes', 'profile-can-drive-group-error', required=question.required) }}
      {{ pill('profile-can-drive', 'no', 'No', 'profile-can-drive-group-error', required=question.required) }}
    </div>
    {{ error_slot('profile-can-drive-group') }}
  </fieldset>
  <div id="driver-details" hidden>
    <div class="form-row form-row--pair">
      <div class="form-field">
        <label class="form-field__label" for="profile-seats">How many people can you accommodate (besides yourself)? {{ optional_hint() }}</label>
        <input id="profile-seats" type="number" min="0" max="99" inputmode="numeric" placeholder="Number of passengers" class="form-input" aria-describedby="profile-seats-error">
        {{ error_slot('profile-seats') }}
      </div>
      <div class="form-field">
        <label class="form-field__label" for="profile-bikes">How many bikes can you accommodate? {{ optional_hint() }}</label>
        <input id="profile-bikes" type="number" min="0" max="99" inputmode="numeric" placeholder="Number of bikes" class="form-input" aria-describedby="profile-bikes-error">
        {{ error_slot('profile-bikes') }}
      </div>
    </div>
    <fieldset id="profile-hitch-group" class="form-field" aria-describedby="profile-hitch-group-error">
      <legend class="form-field__label">Do you have a trailer hitch? {{ optional_hint() }}</legend>
      <div class="pill-group">
        {{ pill('profile-hitch', '', 'No', 'profile-hitch-group-error', checked=true) }}
        {{ pill('profile-hitch', '1.25', '1.25″', 'profile-hitch-group-error') }}
        {{ pill('profile-hitch', '2', '2″', 'profile-hitch-group-error') }}
      </div>
      {{ error_slot('profile-hitch-group') }}
    </fieldset>
  </div>
